<div class="row">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Client ID</label>
      <input ng-model="id" type="text" class="form-control" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Account Number</label>
      <input ng-model="accountNumber" type="number" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Deposit Balance</label>
      <input ng-model="balance" type="number" class="form-control" id="exampleInputEmail1">
    </div>
    <button ng-click="submit($event)" class="btn btn-primary">Submit</button>
  </form>
 
</div>

  