<form class="form-inline">
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" disabled ng-model="selected.id" ng-show="false">

  <!-- <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Client:</label> -->
  <select ng-model="selected" ng-options="client.firstName for client in clients">
  </select>
  <br>
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Fullname: {{selected.firstName}} {{selected.lastName}}</label>
    <!-- <span>User Name: {{selected.firstName}} {{selected.lastName}} , UserId: {{selected.id}}</span>
     -->
  <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Amount">
  <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Interest">
  <input type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2">

  <button ng-click="submit()" class="btn btn-primary">Submit</button>
</form>