<form class="form-inline">
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" disabled ng-model="selectedClient" ng-show="false">
  <br>
  <select name="repeatSelect" id="repeatSelect" ng-model="selectedClient">
    <option ng-repeat="client in clients" value="{{client.id}}">{{client.firstName}} {{client.lastName}}</option>
  </select>
  <br>
  <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Amount" ng-model="account.amount">
  <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Interest" ng-model="account.interest">
  <input type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" ng-model="account.maturity">

  <button ng-click="submit()" class="btn btn-primary">Submit</button>
</form>